!**/glob-import/dir/node_modules
.DS_Store
.idea
*.cpuprofile
*.local
*.log
/.vscode/
/packages/vite/LICENSE
dist
dist-ssr
explorations
node_modules
TODOs.md
.eslintcache
.pnp.cjs
.pnp.loader.mjs
.yarn/
.yarnrc.yml
tsconfig.tsbuildinfo
.assets/**/*
.env

src/components/collection/assets/**/*
src/components/collection/assets/video/**/*
src/components/collection/horror/**/*
src/pages/gallery/context/entries/video/originals/*

out
public/video/**/*
