
._track {
  outline: none;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  cursor: crosshair;
  height: 2rem;
  background-color: aqua;

  &:focus {
    outline: none;
  }
  &::-webkit-slider-thumb {
    appearance: none;
    cursor: pointer;
    border: none;
    filter: brightness(100%);
  }

  &:active::-webkit-slider-thumb {
    appearance: none;
    cursor: pointer;
    border: none;
    filter: brightness(100%);
  }

  &::-moz-range-thumb {
    appearance: none;
    cursor: pointer;
    border: none;
    filter: brightness(100%);
  }

  &:active::-moz-range-thumb {
    appearance: none;
    cursor: pointer;
    border: none;
    filter: brightness(100%);
  }

  &:focus {
    &::-webkit-slider-thumb {
      appearance: none;
      cursor: pointer;
      border: none;
      filter: brightness(100%);
    }
  }

  &::-moz-range-track {
    padding: 0 10px;
    background: repeating-linear-gradient(
      to right,
      #ccc,
      #ccc 10%,
      #000 10%,
      #000 11%,
      #ccc 11%,
      #ccc 20%
    );
  }

  &::-moz-focus-inner,
  &::-moz-focus-outer {
    border: 0;
  }
}

._slider {
  & datalist {
    position: absolute;
    display: flex;
    align-items: flex-start;
    top: -10px;
    left: 10px;
    width: calc(100% - 20px);
    height: 10px;
    pointer-events: none;
  }
  & option {
    position: absolute;
    top: 20px;
    left: 0;
    font-size: 10px;
    width: 0;
    &:last-child {
      text-align: right;
    }
    &:after {
      content: "";
      top: -10px;
      height: 10px;
      width: 1px;
    }
  }
}