
@font-face {
  font-family: "Conthrax";
  src: url("/fonts/conthrax/regular.otf")
    format("opentype");
}
@font-face {
  font-family: "Neuropolitical";
  src: url("/fonts/neuropolitical/regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Saiba45";
  src: url("/fonts/saiba45/regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Led Display 7";
  src: url("/fonts/leddisplay7/regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Saira";
  src: url("/fonts/saira/regular.ttf")
    format("truetype");
}