
@font-face {
  font-family: 'sicret-mono';
  src: url('/fonts/sicret_mono/regular.ttf') format('truetype');
}

@font-face {
  font-family: 'manti-sans-fixed';
  src: url('/fonts/manti-sans-fixed/fixed.otf') format('opentype');
}

@font-face {
  font-family: 'mono-mmm-5';
  src: url('/fonts/monoMMM_5/base.ttf') format('truetype');
}

@font-face {
  font-family: 'manstein';
  src: url('/fonts/manstein/cursive.ttf') format('truetype');
}

@font-face {
  font-family: 'darleston';
  src: url('/fonts/darleston/cursive.otf') format('opentype');
}

@font-face {
  font-family: 'bailenson';
  src: url('/fonts/bailenson/cursive.ttf') format('truetype');
}

@font-face {
  font-family: 'christmas-wish';
  src: url('/fonts/christmas-wish/cursive.otf') format('opentype');
}

@font-face {
  font-family: 'Better Time';
  src: url('/fonts/better-time/cursive.otf') format('opentype');
}

@font-face {
  font-family: 'nova-quinta';
  src: url('/fonts/nova-quinta/cursive.otf') format('opentype');
}
