@font-face {
  font-family: "Saiba 45 Outline";
  src: url("/fonts/saiba-45/SAIBA-45-Outline.ttf")
    format("truetype");
}

@font-face {
  font-family: "Saiba 45";
  src: url("/fonts/saiba-45/SAIBA-45.ttf")
    format("truetype");
}

@font-face {
  font-family: "GType rGX9";
  src: url("/fonts/GType-rGX9.ttf")
    format("truetype");
}

@font-face {
  font-family: "FFF Forward";
  src: url("/fonts/fff-forward/FFFFORWA.ttf")
    format("truetype");
}

@font-face {
  font-family: "NK57";
  src: url("/fonts/nk57-monospace/nk57-monospace-cd-bd.otf")
    format("opentype");
}
