@font-face {
  font-family: "Dragon";
  src: url("/fonts/dragon/regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Armstrong3";
  src: url("/fonts/armstrong3/regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Toxigenesis";
  src: url("/fonts/toxigenesis/regular.otf")
    format("opentype");
}
