@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Italiana&family=Luxurious+Script&family=Silkscreen:wght@700&display=swap');

@font-face {
  font-family: 'sicret-mono';
  src: url('/fonts/sicret_mono/regular.ttf') format('truetype');
}

@font-face {
  font-family: 'manti-sans-fixed';
  src: url('/fonts/manti-sans-fixed/fixed.otf') format('opentype');
}

@font-face {
  font-family: 'mono-mmm-5';
  src: url('/fonts/monoMMM_5/base.ttf') format('truetype');
}

@font-face {
  font-family: 'manstein';
  src: url('/fonts/manstein/cursive.ttf') format('truetype');
}

@font-face {
  font-family: 'darleston';
  src: url('/fonts/darleston/cursive.otf') format('opentype');
}

@font-face {
  font-family: 'bailenson';
  src: url('/fonts/bailenson/cursive.ttf') format('truetype');
}

@font-face {
  font-family: 'christmas-wish';
  src: url('/fonts/christmas-wish/cursive.otf') format('opentype');
}

@font-face {
  font-family: 'better-time';
  src: url('/fonts/better-time/cursive.otf') format('opentype');
}

@font-face {
  font-family: 'nova-quinta';
  src: url('/fonts/nova-quinta/cursive.otf') format('opentype');
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

html,
body {
  font-size: 100%;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-overflow-scrolling: touch;
}

html,
body,
#root {
  width: 100%;
}

a,
button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

label,
input,
textarea,
select {
  font-family: inherit;
  background-color: transparent;
}

label:disabled,
input:disabled,
textarea:disabled,
select:disabled {
  cursor: not-allowed;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px transparent;
}

label:focus,
textarea:focus,
input:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 6px;
}

h1,
figure {
  font-family: better-time, christmas-wish, cursive;
}
h1 {
  font-size: 1.4rem;
}

figure {
  font-size: 1.4rem;
}
/* h2,
h3,
h4,
h5,
h6,
strong {
  font-family: Author, Courier, Menlo, Consolas, monospace;
} */
/* 
code,
pre {
  font-family: sicret-mono, Courier, Menlo, Consolas, monospace;
}

kbd {
  font-family: manti-sans-fixed, Courier, Menlo, Consolas, monospace;
} 
*/
