^20.5.0
//npm.pkg.github.com/:_authToken=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
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
# //registry.npmjs.org/:_authToken=${NPM_TOKEN}
@brysonandrew:registry=https://npm.pkg.github.com
